.app {
  margin: 0;
}

.app button {
  background-color: green;
  color: white;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
  width: 30%;
}

.app button:hover {
  background-color: lightgreen;
  color: black;
}

.app button.Red {
  background-color: red;
}

.app button.Red:hover {
  background-color: salmon;
  color: black;
}

